* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
*::selection {
    color: white;
    background-color: black;
}
html, body {
    width: 100%;
    height: 100%;
}
.body {
    background-color: #f7f7f7;
}
nav {
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
nav .logo {
    height: 82px;
    overflow: hidden;
}
nav .logo svg {
    display: block;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    font-size: 0.75rem;
    color: black;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul .icon i{
    margin-right: 45px;
}
.cursor {
    height: 150px;
    width: 150px;
    background-color: rgb(223, 184, 137);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%)scale(0);
}
.page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}
.page1 h1 {
    font-size: 14vw;
    line-height: 11.5vw;
    font-weight: 900;
    letter-spacing: -10px;
}
.video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}
.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-container .play {
    padding: 3vw 2vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}
.page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
}
.page2 .box {
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2 .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}
.page3 {
     min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child {
    height: 55vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img {
    height: 100%;
}
.box .details {
    height: 50px;
    width: 80%;
    position: absolute;
    background-color: burlywood;
    z-index: 9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 0.75rem;
}
.box .details .option {
    font-weight: 700;
}
@media (max-width:600px) {
    .page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }
    .page1 h1 {
        font-size: 12vw;
        line-height: 12vw;
        letter-spacing: -3px;
    }
    .video-container {
        height: 30vh;
        margin-top: 3vw;
    }
    .video-container .play {
        padding: 9vw 6vw;
        font-size: 4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }
    .page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5vw 5vw;
        align-items: center;
        justify-content: space-between;
    }
    .page2 .box {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    .page3 {
        min-height: 120vh;
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       flex-wrap: wrap;
   }
   .child {
       height: 55vh;
       width: 80vw;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
}
